<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/footer.css' />
  </head>
  <body>
    <footer>
        <div class="main">
            <div class="text">
                <p>О нас</p>
                <p>Партнёры</p>
                <p>Что-то</p>
                <p>И ещё что-то</p>
            </div>
        <hr>
        <div class="icons">
            <img src="/images/instagram.png">
            <img src="/images/telegram.png">
            <img src="/images/youtube.png">
        </div>
        </div>
    </footer>
  </body>
</html>
