<footer>
    <div class="footer">
        <hr>
        <div class="footer-text">
            <p>О нас</p>
            <p>Партнёры</p>
            <p>Что-то</p>
            <p>И ещё что-то</p>
        </div>
        <hr>
        <div class="social-media-icons">
            <img src="/images/instagram.png">
            <img src="/images/telegram.png">
            <img src="/images/youtube.png">
        </div>
    </div>
</footer>