<footer>
    <div class="footer">
        <hr>
        <div class="footer-text">
            <p>О нас</p>
            <p>Партнёры</p>
            <p>Контакты</p>
        </div>
        <hr>
        <div class="social-media-icons">
            <a href=""><img src="/images/instagram.png"></a>
            <a href=""><img src="/images/telegram.png"></a>
            <a href=""><img src="/images/youtube.png"></a>
        </div>
    </div>
</footer>