<header>
    <div class="search-block">
      <img src="/images/search.png" />
      <input type="text" placeholder="Поиск..." />
      <div class="criteries">
        <select>
          <option>Место проведения</option>
        </select>
        <select>
          <option>Тип мероприятия</option>
        </select>
      </div>
    </div>
    <div class="user">
      <img src="/images/user.png" />
    </div>
</header>