   <div class="main">
            <img src="/images/first.jpg">
            <h1>{{name}}</h1>
            <h4>{{address}}</h4>
            <p>Дата: <b>{{date}}</b></p>
            <p>Время: <b>{{time}}</b></p>
            <button>Подробнее</button>
    </div>

