<div class="window">
        <img class="image-window" src="/images/first.jpg">
        <h1 class="caption-window">{{name}}</h1>
        <h4 class="address-window">{{address}}</h4>
        <p class="date-window">Дата: <b>{{date}}</b></p>
        <p class="time-window">Время: <b>{{time}}</b></p>
        <button class="button-window">Подробнее</button>
</div>