
   <div class="main">
            <img src="/images/first.jpg">
            <h1>Уборка в Первомайском сквере</h1>
            <p>Дата: <b>07.07.23</b></p>
            <p>Время: <b>12:00</b></p>
            <button>Подробнее</button>
    </div>


