<!DOCTYPE html>
<head>
    <link rel = "stylesheet" href = "/stylesheets/index.css">
    <link rel = "stylesheet" href = "/stylesheets/user.css">
    <link rel = "stylesheet" href = "/stylesheets/window.css">
    <link rel = "stylesheet" href = "/stylesheets/auto.css">
    <link rel = "stylesheet" href = "/stylesheets/comp.css">
    <link rel = "stylesheet" href = "/stylesheets/form.css">
    <link rel = "stylesheet" href = "/stylesheets/personal_area_company.css">
    <link rel="stylesheet" href="/stylesheets/cart.css">
    <link rel = "stylesheet" href = "/stylesheets/personal_area_user.css">
</head>
<body>
    {{> header}}
    <main>
        {{{ body }}}
    </main>
    {{> footer}}
</body>