<div class="aut">
    <div class="autorization">
        <div class="banner-auto">
            <img src="/images/auto.jpg">
        </div>
        <form class="auto" action="/loging" method="post">
            <h1>Авторизация</h1>
            <input name="email" type="text" placeholder="  Логин">
            <input name="password" type="password" placeholder="  Пароль">
            <div class="buttons-of-autorization">
                <button type="submit">Войти</button>
                <a href="">Забыли пароль?</a>
                <a href="/reg">Регистрация для пользователей</a>
                <a href="/regcomp">Регистрация для компаний</a>
            </div>
        </form>
    </div>
</div>