    <form action="/activity" method="post">
        <div class="info">
            <h1>Создание мероприятия</h1>
            <input name="name" type="text" placeholder="  Название">
            <input name="curator" type="text" placeholder="  Куратор">
            <input name="address" type="text" placeholder="  Место проведения">
            <input name="date" type="text" placeholder="  Дата проведения">
            <input  name="time" type="text" placeholder="  Время начала">
            <input name="type" type="text" placeholder="  Тип">
            <button type="submit">Отправить</button>
        </div>
        <div class="img">
            <h2>Прикрепите фотографию</h2>
            <input class="img1"type="file">
        </div>
    </form>