<main class="passchange">
    <form action="/passwordchange" method="post">
        <h1>Введите свой пароль</h1>
        <input type="password" name="oldpassw">
        <h1>Введите новый пароль</h1>
        <input type="password" name="newpassw">
        <h1>Повторите пароль</h1>
        <input type="password" name="newpassw2">
        <button class="bpc" type="submit">Изменить</button>
    </form>
</main>