<div class="perconal-area-user">
    <div class="profile-image-user">
        <img  src="/images/загружено.jpg">
        <button>Изменить фото профиля</button>
    </div>
    <div class="user-info">
        <h1>{{name}}</h1>
        <h1>{{email}}</h1>
        <h1>description</h1>
        <input type="text">
        <a href=""><button>Изменить пароль</button></a>
    </div>
    <div>
        <hr>
    </div>
</div>
<div class="user-activities">
    <h1>Посещённые мероприятия</h1>
    <hr>
</div>