
    <div class="all">
    <div class="imag">
        <img class='image' src="/images/загружено.jpg">
        <button>Добавить в друзья</button>
    </div>
    <div class="info">
        <h1>nickname</h1>
        <div class="description">
            <h1>description</h1> 
        </div>
    </div>
    <div><hr></div>
    </div>
    <div class="activity">
        <h1>Посещённые мероприятия</h1>
        <hr>
    
    </div>
