<div class="allcompany">
    <div class="personal_area_company">
        <form class="image-of_company" enctype="multipart/form-data" method="post" action="/changedimagecomapny">
            <img class='image' src="/images/{{image_company}}">
            <input name="image" type="file">
            <button type="submit">Изменить фото профиля</button>
        </form>
        <div class="info-about-company">
            <h1>{{name}}</h1>
            <h1>{{email}}</h1>
            <div class="buttons-personal-area-company">
                <a href=""><button>Забыли пароль?</button></a>
                <a href="form"><button>Создать мероприятие</button></a>
            </div>
        </div>
        <div>
            <hr>
        </div>
    </div>
    <div class="activity-of-company">
        <h1>Мероприятия</h1>
        <hr>
        {{#each rows}}
        {{> window name=name address=address date=date time=time}}
        {{/each}}
    </div>
</div>