<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/personal_area_company.css">
    <title>Document</title>
</head>
<body>
    <div class="all">
    <div class="imag">
        <img class='image' src="/images/загружено.jpg">
        <button>Изменить фото профиля</button>
    </div>
    <div class="info">
        <h1>{{name}}</h1>
        <h1>{{email}}</h1>
        <h1>description</h1> 
        <input type="text">
        <div class="buttons">
            <a href=""><button>Забыли пароль?</button></a>
            <a href="form"><button>Создать мероприятие</button></a>
        </div>
    </div>
    <div><hr></div>
    </div>
   <div class="activity">
        <h1>Мероприятия</h1>
        {{#each rows}}
            {{> window name=name address=address date=date time=time}}
        {{/each}}
    </div>
</body>
</html>