<div class="registration">
    <div class="reg">
        <form action="/registering" method="post">
            <h1 class="caption">Регистрация</h1>
            <input class="input" name="name" type="text" placeholder="  ФИО">
            <input class="input" name="date_of_birth" type="text" placeholder="  Дата рождения">
            <input class="input" name="email" type="text" placeholder="  Почта">
            <input class="input" name="phone_number" type="text" placeholder="  Номер телефона">
            <input class="input" name="password" type="text" placeholder="  Пароль">
            <input class="input" name="password1" type="text" placeholder="  Повторите пароль">
            <div class="h">
                <button type="submit" class="button">Зарегестрироваться</button>
            </div>
        </form>
    </div>
    <div class="banner">
        <img class="banner-image" src="/images/djf.jpg">
    </div>
</div>