<div class="registrarion-for-company">
    <div class="allreg">
        <form action="/regcompany" method="post">
            <h1>Регистрация для компаний</h1>
            <input name="name_of_company" type="text" placeholder="  Название">
            <input name="name_of_creator" type="text" placeholder="  Учредитель">
            <input name="email" type="text" placeholder="  Почта">
            <input name="type" type="text" placeholder="  Тип">
            <input name="password" type="password" placeholder="  Пароль">
            <input name="password1" type="password" placeholder="  Повторите пароль">
            <input name="file" class="img1" type="file">
            <div class="button-reg">
                <button type="submit">Зарегестрироваться</button>
            </div>
        </form>
    </div>
    <div class="banner-regcomp">
        <img src="/images/reg_comp.jpg">
    </div>
</div>