<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/comp.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="auto">
            <form action="/regcompany" method="post">
            <h1>Регистрация для компаний</h1>
            <input name="name_of_company" type="text" placeholder="  Название">
            <input name="name_of_creator" type="text" placeholder="  Учредитель">
            <input name="email" type="text" placeholder="  Почта">
            <input name="type" type="text" placeholder="  Тип">
            <input name="password" type="text" placeholder="  Пароль">
            <input type="text" placeholder="  Повторите пароль">
            <input name="file" class="img1" type="file">
            <div class="h">
                <button type="submit">Зарегестрироваться</button>
            </div>
            </form>
        </div>
        <div class="img">
            <img src="/images/djf.jpg">
        </div>
    </div>
</body>
</html>