    <div class="main">
        <div class="auto">
            <form action="/regcompany" method="post">
            <h1>Регистрация для компаний</h1>
            <input name="name_of_company" type="text" placeholder="  Название">
            <input name="name_of_creator" type="text" placeholder="  Учредитель">
            <input name="email" type="text" placeholder="  Почта">
            <input name="type" type="text" placeholder="  Тип">
            <input name="password" type="text" placeholder="  Пароль">
            <input type="text" placeholder="  Повторите пароль">
            <input name="file" class="img1" type="file">
            <div class="h">
                <button type="submit">Зарегестрироваться</button>
            </div>
            </form>
        </div>
        <div class="img">
            <img src="/images/djf.jpg">
        </div>
    </div>
