<main class="passchange">
    <form action="/usernamechange" method="post">
        <h1>Введите имя</h1>
        <input type="text" name="oldusername">
        <h1>Введите новое имя</h1>
        <input type="text" name="newusername">
        <h1>Повторите новое имя</h1>
        <input type="text" name="newusername2">
        <button class="bpc" type="submit">Изменить</button>
    </form>
</main>