* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

header {
  width: auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #BC986A;
}

footer{
  background-color: #2f404b;
  height: 220px;
}

main {
  max-width: 2000px;
  margin: 0 auto;
  min-height: calc(100vh - 80px);
  background-color: #FBEEC1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}
header form{
  display: flex;
}

.search-block{
  display: flex;
  align-items: center;    
}

header img{
  width: 40px;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

header hr{
  background-color: #2f404b;
  width: auto;
  height: 4px;
}


.search-block > input:nth-child(1){
  width: 40px;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  background-color: #BC986A;
}

header input{
  width: 200px;
  height: 40px;
  padding-left: 4px;
  border-radius: 8px;
  border: 2px solid #2f404b;
  background-color: #eeeded;
  color: #BC986A;
  font-size: 16px;
}

header select{
  width: 200px;
  height: 44px;
  padding-left: 4px;
  margin-left: 40px;
  border-radius: 8px;
  border: 2px solid #2f404b;
  background-color: #eeeded;
  color: #BC986A;
  font-size: 16px;
}


.social-media-icons{
  display: flex;
  justify-content: center;
}

.footer-text{
  height: 100px;
  display: flex;
  justify-content: space-around;
}

footer img{
  margin-left: 16px;
  width: 30px;
  height: 30px;
  margin-top: 26px;
}

.footer-text > p{
  margin-top: 44px;
  color: #eeeded;
}

footer hr{
  background-color: #BC986A;
  width: auto;
  height: 2px;
}

.user-button > input:nth-child(1){
  width: 40px;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  background-color: #BC986A;
}