.profile-image-user>img {
    min-width: 200px;
    min-height: 200px;
    max-width: 300px;
    max-height: 400px;
    display: flex;
    border: 3px solid;
}

.profile-image-user{
    margin-top: 20px;
}


.profile-image-user>button {
    width: 175px;
    height: 35px;
    background-color: #2f404b;
    color: #FBEEC1;
    border: none;
    border-radius: 3px;
    margin-top: 50px;
    margin-left: 52px;
}

.profile-image-user>button:hover {
    background-color: #FBEEC1;
    color: #2f404b;
}

.profile-image-user > input{
    height: 26px;
}

.alluser {
    display: flex;
    flex-direction: column;
    width: 2000px;
    height: 1200px;
}

.personal-area-user {
    display: flex;
    justify-content: space-evenly;
    background-color: #eeeded;
    color: #2f404b;
}

.user-info {
    width: 1000px;
    height: 550px;
    display: flex;
    flex-direction: column;
}

.user-info>h1:nth-child(1) {
    margin-top: 20px;
}

.user-info>h1:nth-child(2) {
    margin-top: 40px;
    margin-bottom: 40px;
}


.buttons-pеrsonal-area-user>a>button {
    width: 175px;
    height: 35px;
    background-color: #2f404b;
    color: #FBEEC1;
    border: none;
    border-radius: 3px;
}

.buttons-personal-area-user>a>button:nth-child(2) {
    margin-left: 60px;
    margin-top: 20px;
}

.buttons-personal-area-user>a>button:hover {
    background-color: #FBEEC1;
    color: #2f404b;
}

.buttons-personal-area-user {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.user-activities {
    display: flex;
    flex-direction: row;
    min-height: 500px;
}

.user-activities>h1 {
    margin-left: 46px;
}

.user-activities>hr {
    background-color: #BC986A;
    width: auto;
    height: 2px;
    margin-top: 10px;
}