.registration{
    display: flex;
    margin-left: 300px;
    width: 950px;
    height: 600px;
    background-color: #eeeded;
    justify-content: center;

}
.reg{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 250px;
    height: 500px;
    margin-left: 100px;
    margin-top: 20px;
}
.h{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.input{
    width: 250px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid #2f404b;
    background-color: #eeeded;
    color: #BC986A;
    font-size: 18px;
}
.button{
    width: 250px;
    height: 50px;
    border-radius: 4px;
    background-color: #BC986A;
    color: #2f404b;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    margin-top: 50px;
}
.button:hover{
    background-color: #2f404b;
    color: #FBEEC1;
}

.caption{
    margin-left: 40px;
    color: #BC986A;
}
.banner-image{
    width: 500px;
    height: 600px;
    margin-left: 100px;
}
