.window {
    margin: 50px;
    width: 300px;
    height: 450px;
    border: 12px solid #BC986A;
    border-top: none;
    border-left: none;
    background-color: #eeeded;
    border-radius: 10px;
    position: relative;
}

.image-window {
    border-radius: 10px 10px 0 0;
    width: 312px;
    height: 200px;
}

.caption-window {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 24px;
}

.address-window{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 18px;
    color: #BC986A;
}

.date-window {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 18px;
    color: #BC986A;
}

.time-window {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 18px;
    color: #BC986A;
}

.button-window {
    position: absolute;
    width: 175px;
    height: 35px;
    margin-top: 12px;
    left: 20%;
    background-color: #2f404b;
    color: #FBEEC1;
    border: none;
    border-radius: 3px;
}

.button-window:hover {
    background-color: #FBEEC1;
    color: #2f404b;
}